.searchbox {
  width: 100%;
}
* {
  box-sizing: border-box;

  font-family: "Courier New", Courier, monospace;
  color: white;
  padding: 0px;
  margin: 0px;
}

#GO:hover {
  background-color: rgb(204, 204, 204);
  transition: all 0.2s;
  color: #000;
}

body {
  font: 16px Arial;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  overflow-y: hidden;
  overflow-x: hidden;
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
  color: black;
  opacity: 0.6;
}
input {
  border: 1px solid transparent;
  background-color: black;
  padding: 10px;
  font-size: 16px;
  color: black;
}
input[type="text"] {
  background-color: #f1f1f1;
  width: 100%;
  color: black;
}
input[type="submit"] {
  background-color: DodgerBlue;
  color: #fff;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
  color: white;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: black;
  border-bottom: 1px solid #d4d4d4;
  color: white;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: black;
  color: white;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: white;
}

.infoSec {
  color: white;
}

#info {
  color: white;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

#title {
  align-items: center;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
